sample/src/main/mule/sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="075b7fd2-2b08-40a6-9cda-4ddd0679c5a3" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sampleFlow" doc:id="02b1e615-fe93-4e3e-af39-732096a8bc5e" >
		<http:listener doc:name="Listener" doc:id="bfed9689-c4b4-4ef6-a6f5-678c3581749c" config-ref="HTTP_Listener_config" path="sample"/>
		<set-payload value="hello world" doc:name="Set Payload" doc:id="b1bf75e1-7ec8-4f46-b601-59a43c97889f" />
		<logger level="INFO" doc:name="Logger" doc:id="9f73c1af-3e13-451f-bff5-e1e8c50e845e" message="#[payload]"/>
	</flow>
</mule>
